<?xml version="1.0"?>
<robot name="tuppy_boat" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- xacro properties -->
  <xacro:property name="lidar_l" value="0.072"/>
  <xacro:property name="lidar_r" value="0.052"/>

  <xacro:property name="camera_x" value="0.025"/>
  <xacro:property name="camera_y" value="0.09"/>
  <xacro:property name="camera_z" value="0.025"/>

  <xacro:property name="hull_x" value="1.27"/>
  <xacro:property name="hull_y" value="0.254"/>
  <xacro:property name="hull_z" value="0.1778"/>

  <xacro:property name="frame_x" value="0.025"/>
  <xacro:property name="frame_y" value="0.762"/>
  <xacro:property name="frame_z" value="0.025"/>

  <xacro:property name="polycarb_x" value="0.762"/>
  <xacro:property name="polycarb_y" value="0.762"/>
  <xacro:property name="polycarb_z" value="0.013"/>

  <xacro:property name="tuppy_x" value="0.348"/>
  <xacro:property name="tuppy_y" value="0.6096"/>
  <xacro:property name="tuppy_z" value="0.2032"/>

  <!-- links and visuals -->
  <link name="base_link"/>
  <link name="base_footprint"/>
  <link name="tupperware"><visual><geometry><box size="${tuppy_x} ${tuppy_y} ${tuppy_z}"/></geometry></visual></link>
  <link name="polycarbsheet"><visual><geometry><box size="${polycarb_x} ${polycarb_y} ${polycarb_z}"/></geometry></visual></link>
      <link name="front_frame"><visual><geometry><box size="${frame_x} ${frame_y} ${frame_z}"/></geometry></visual></link>
        <link name="sensor_holder"><visual><geometry><box size="${frame_x} ${frame_y} ${frame_z}"/></geometry></visual></link>
          <link name="lidar"><visual><geometry><cylinder length="${lidar_l}" radius="${lidar_r}"/></geometry></visual></link>
          <link name="camera"><visual><geometry><box size="${camera_x} ${camera_y} ${camera_z}"/></geometry></visual></link>
      <link name="middle_frame"><visual><geometry><box size="${frame_x} ${frame_y} ${frame_z}"/></geometry></visual></link>
        <link name="left_hull"><visual><geometry><box size="${hull_x} ${hull_y} ${hull_z}"/></geometry></visual></link>
        <link name="right_hull"><visual><geometry><box size="${hull_x} ${hull_y} ${hull_z}"/></geometry></visual></link>
      <link name="back_frame"><visual><geometry><box size="${frame_x} ${frame_y} ${frame_z}"/></geometry></visual></link>

  <!-- joint connections
  base_link (tuppy's location)
    - base footprint
    - tuppy
      - polycarbsheet
          - front frame
          - middle frame
            - left hull
              - sensor holder
                - lidar
                - camera
            - right hull
          - back frame
  -->
  <joint name="base_joint" type="fixed"><parent link="base_link"/><child link="base_footprint"/><origin xyz="0 0 ${-(tuppy_z/2+polycarb_z+frame_z+hull_z)}" rpy="0 0 0"/></joint>
  <joint name="base_tuppy" type="fixed"><parent link="base_link"/><child link="tupperware"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
    <joint name="tuppy_poly" type="fixed"><parent link="tupperware"/><child link="polycarbsheet"/><origin xyz="0 0 ${-(frame_z/2+tuppy_z/2)}" rpy="0 0 0"/></joint>
      <joint name="polyf_front" type="fixed"><parent link="polycarbsheet"/><child link="front_frame"/><origin xyz="${polycarb_x/2-frame_z/2} 0 ${-frame_z/2+polycarb_z/2}" rpy="0 0 0"/></joint>
        <joint name="lefthull_holder" type="fixed"><parent link="front_frame"/><child link="sensor_holder"/><origin xyz="0 0 ${polycarb_z+frame_z/2}" rpy="0 0 0"/></joint>
          <joint name="holder_lidar" type="fixed"><parent link="sensor_holder"/><child link="lidar"/><origin xyz="0 0 ${lidar_l/2}" rpy="0 0 0"/></joint>
          <joint name="holder_camera" type="fixed"><parent link="sensor_holder"/><child link="camera"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
      <joint name="polyf_middle" type="fixed"><parent link="polycarbsheet"/><child link="middle_frame"/><origin xyz="0 0 ${-frame_z/2+polycarb_z/2}}" rpy="0 0 0"/></joint>
        <joint name="middlef_lefthull" type="fixed"><parent link="middle_frame"/><child link="left_hull"/><origin xyz="${hull_x/2-polycarb_x/2} ${polycarb_y/2-hull_y/2} ${-(hull_z/2+frame_z/2)}" rpy="0 0 0"/></joint>
        <joint name="middlef_righthull" type="fixed"><parent link="middle_frame"/><child link="right_hull"/><origin xyz="${hull_x/2-polycarb_x/2} ${-(polycarb_y/2-hull_y/2)} ${-(hull_z/2+frame_z/2)}" rpy="0 0 0"/></joint>
      <joint name="polyf_back" type="fixed"><parent link="polycarbsheet"/><child link="back_frame"/><origin xyz="${-(polycarb_x/2-frame_z/2)} 0 ${-frame_z/2+polycarb_z/2}}" rpy="0 0 0"/></joint>
</robot>
